body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px; /* Minimum width for better visibility */
    max-width: 400px; /* Prevents excessively wide popups */
    height: 100%;
    overflow: hidden;
}

.container{
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    width: 100%; /* Ensures container matches popup width */
}

form{
    display: flex;
    flex-direction: column; /* Stacks inputs vertically */
    gap: 10px; /* Adds space between input elements */
    margin-bottom: 20px;
}

form input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

form input[type="submit"]{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover{
    background-color: #0062cc;
}

.icons img{
    width: 80px; /* Adjusted size for better fit */
    height: 80px;
    margin: auto;
    display: block;
}

.temperature{
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

.description{
    font-size: 24px;
    margin-bottom: 20px;
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Organizes details in two columns */
    gap: 10px;
}

.details > div{
    padding: 20px;
    background-color: #f1f1f1;
    margin: 10px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    min-height: 45px;
}

@media (max-width: 768px){
    form{
        flex-direction: column;
    }

    form input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
    }
}